{% extends 'base_template.html' %}

{% block head %}
<h1>CONTROLE FINANCEIRO</h1>
{% endblock %}

{% block body %}

<div class="content">
    <h1>Lançamentos</h1>

    <div class="menu_estatisticas">
        <label>TOTAL DÉBITOS</label>
        <label>TOTAL CREDITOS</label>
        <label>SALDO</label>
    </div>

    <form action="/", method="POST" class="form_add">
        <input type="text" name="descricao" id="descricao" placeholder="Descrição">
        <select name="tipo">
            <option value="Débito">Débito</option>
            <option value="Crédito">Crédito</option>
        </select>
        <input type="text" name="valor" id="valor" placeholder="Valor">
        <input type="submit" value="Adicionar" id="btn_Add">
    </form>

    <table>
        <tr>DATA</tr>
        <tr>DESCRIÇÃO</tr>
        <tr>VALOR</tr>
        <tr>TIPO</tr>
        <tr>AÇÃO</tr>
        <br>
        {% for lancamento in lancamentos%}
        <tr>
            <td id="campo_data">{{lancamento.data_lancamento.strftime("%d/%m/%Y")}}</td>
            <td id="campo_descricao">{{lancamento.descricao}}</td>
            <td id="campo_tipo">{{lancamento.tipo}}</td>
            <td id="campo_valor">{{lancamento.valor}}</td>
            <td>
                <a href="/delete/{{lancamento.id}}" class="btn" id="btn_deletar">Deletar</a>
                <a href="/update/{{lancamento.id}}" class="btn" id="btn_atualizar">Atualizar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}